{% load static %}
<footer class="rodape">
    <p class="rodape__texto">Desenvolvido por Hygor Rocha</p>
    <div class="rodape__icones">
        <a href="https://wa.me/5561981592866" target=”_blank” >
            <img src="{% static '/images/icones/1x/whatsapp.png' %}" alt="ícone instagram">
        </a>
        <a href="https://twitter.com/HRochaTV" target=”_blank” >
            <img src="{% static '/images/icones/1x/twitter.png' %}" alt="ícone twitter">
        </a>
        <a href="https://www.instagram.com/hygordev/" target=”_blank” >
            <img src="{% static '/images/icones/1x/instagram.png' %}" alt="ícone instagram">
        </a>
    </div>
</footer>